@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Oswald');

#main_statement {
	font-family: Roboto Condensed !important;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	color: #0c0c0c;
	font-weight: 400;
	font-family: Roboto;
}



/* links */
a {
	color: #005daa;
	text-decoration: none;
}

a:hover,
a:focus {
	border-bottom: 3px solid rgb(0, 93, 170);
	opacity: 1.0;
	transition: none;
}

a:not(.btn):not(.wp-block-button__link):not(.wp-block-button):not(.button):not(.added_to_cart):hover {
	opacity: 1.0;
}



.content {
	display: flex;
	margin-left: auto;
	flex-direction: column;
	align-items: center;
}

/* libchat button link fix */
#libchat_b52f2cdc0eb17645195f20b93093a46e button {
	line-height: initial !important;
}

/* Buttons */
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.open>.btn.dropdown-toggle,
.open>.btn.dropdown-toggle:focus,
.open>.btn.dropdown-toggle:hover,
.btn.btn-default,
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover,
.open>.btn.btn-default.dropdown-toggle,
.open>.btn.btn-default.dropdown-toggle:focus,
.open>.btn.btn-default.dropdown-toggle:hover {
	color: #fff;
	background-color: #004d80;
	outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.4;
}



/* Menu */

.navbar {
	width: 100%;
	background: rgba(10, 10, 10, .8);
	color: white;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 13px;
}

.navbar a {
	border-bottom: none;
	font-family: Roboto Condensed;
}

.navbar-brand:hover {
	background-color: #005daa !important;
	transition: 0.3s;
}

.navbar-nav>.nav-item {
	margin-left: 20px;
}

.nav-link {
	color: white !important;
	font-size: 16px;
	font-weight: 400;
	padding: 15px;
	text-transform: uppercase;
}

.nav-link:hover {
	background-color: #005daa !important;
	transition: 0.3s;
}

#give {
	background-color: #005daa;
}

#s-lg-widget-1709908805506 input {
	border-radius: 0 !important;
}

#s-lg-widget-1709908805506 button {
	color: white !important;
	background-color: #005daa !important;
	border-radius: 0;
}

.s-lg-form-control {
	border-radius: 0;
	margin-left: 50px;
}

/* alert */
#alert-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 22px;
}

.alert {
	height: fit-content;
}

.alert .btn-close:hover {
	background-color: inherit;
}

#main-header{
	padding-bottom: 60px;
	min-height: 300px;
	max-height: 418px;
}

.header-filter {
	position: absolute;
	top: -43px;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: -1;
	height: 45vh;
	min-height: 300px;
	max-height: 418px;
	background-position: 10% 25%;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-filter:before,
.header-filter:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
}

.header-filter::before {
	background-color: rgba(0, 0, 0, 0.4);
}

.bento {
	margin-top: 12vh;
	margin-bottom: 4vh;
}

/* navtabs */
#custom-search-input>div {
	display: flex;
	flex-direction: row;
}

.bento-header {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 10px;
	color: white;
	padding: 10px;
	padding-bottom: 0px;
	background: rgba(10, 10, 10, .6) !important;
}


.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: white;
	cursor: default;
	border: 1px solid #003986;
	border-bottom-color: transparent;
}

.tab .nav-tabs {
	display: flex;
	flex-direction: row;
	border-bottom: none;
	position: relative;
}

.tab .nav-tabs li {
	margin-bottom: 0;
	margin-right: 10px;
	min-width: 120px;
}

.tab .nav-tabs li a {
	display: block;
	background: rgba(10, 10, 10, .6) !important;
	padding: 10px;
	border: 1px solid rgba(40, 40, 40, .6);
	border-radius: 0;
	font-size: 14px;
	font-weight: 600;
	color: white;
	margin-right: 0;
	text-align: center;
	z-index: 1;
	transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a i {
	display: block;
	font-size: 40px;
	color: white;
	margin-bottom: 15px;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover {
	background-color: #005daa;
	border: 1px solid #005daa;
}

.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after {
	content: "";
	width: 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	transition: all 0.3s ease 0s;
}

.tab .nav-tabs li a:after {
	left: auto;
	right: 0;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li active a:after,
.tab .nav-tabs li a:hover:after {
	width: 50%;
}

.tab .tab-content {
	padding: 20px;
	margin-top: -5px;
	border-radius: 0;
	font-size: 15px;
	color: white;
	line-height: 30px;
}

.tab .tab-content h3 {
	font-size: 24px;
}

.tab-content.tabs {
	padding: 0px
}

.browse-header a {
	color: white;
}

.browse-header a:hover {
	color: white;
}

/* Inside tab content */
.widget ul li:first-child {
	padding-top: 5px;
}

#searchCUNY,
#searchJournals,
#articleSearchRadio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#searchCUNY>div,
#searchJournals>div,
#articleSearchRadio>div {
	flex: 0 1 auto;
	width: 101px;
}

.form-group {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.form-group.is-focused .form-control {
	background-color: rgba(255, 255, 255);
	background-image: none;
	color: #12130f
}

/* text inside searchbar */
.form-control::-moz-placeholder {
	color: #12130f;
	opacity: .9;
	font-size: 16px;
}

.input-group .input-group-btn {
	padding: 0;
	vertical-align: top;
}

.search-input {
	padding: 0;
}

.search-input .search-query,
#s-lg-sel-az-widget-1535395835265 {
	height: 45px;
	background: rgba(255, 255, 255);
	border: 3px solid #005daa;
	border-right: none;
	background-color: white;
	color: white;
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 10px;
	padding-left: 4px \9;
	margin-bottom: 0;
	-webkit-border-radius: 0px; 
	 -moz-border-radius: 0px;
	border-radius: 0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-input button,
#s-lg-frm-az-widget-1535395835265 button {
	box-shadow: none;
	height: 45px;
	/* border: 1px solid #005daa; */
	border-left: none;
	background-color: #005daa;
	padding: 1em !important;
	border-radius: 0px !important;
}

.search-input>div>span>button>span {
	width: 65px;
}

.search-input>div>span>button>* {
	top: -5px;
	position: relative;
}

#s-lg-frm-az-widget-1535395835265 {
	display: flex;
}

.search-input .search-query,
#s-lg-sel-az-widget-1535395835265 {
	color: #12130f;
}

#s-lg-frm-az-widget-1535395835265>div {
	width: 100%;
}

#s-lg-frm-az-widget-1535395835265>button {
	padding: 0.09em 1em !important;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* A-Z front page select */
div.databases,
div.journals-a-z {
	border-radius: 0px;
	background: rgba(40, 40, 40, .6);
}

div.journals-a-z {
	margin-top: 0px;
}

div.databases>span>a,
div.journals-a-z>span>a {
	color: white;
	font-size: 18px;
	font-weight: 600;
	margin-left: 10px;
}

#Section3>div.journals-a-z>h3 {
	margin-top: 0;
}

/* radio buttons */
.options {
	font-size: 16px !important;
	border-radius: 0px;
	background: rgba(40, 40, 40, .6);
	list-style: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-bottom: 10px;
}

.options li {
	margin-right: 15px;
	padding: 5px 10px 0px 10px;
}

.options li a {
	color: white;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

input[type="radio"]+label {
	font-weight: 600;
	padding-left: 5px;
	color: white;
}

input[type="radio"]+label:hover {
	color: #fff;
}

/* Below the Fold*/

.features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.feature-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	}

	/* feature wrapper other than the first one */
	.feature-wrapper:not(:first-child) {
		margin-left: 20px;
	}

.feature-wrapper h2 {
	font-size: 28px;
	color: rgb(104, 104, 104);
	text-decoration: none;
	font-weight: 700;
	word-wrap: break-word;
	/* margin-bottom: 20px; */
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 28px;
	font-family: Roboto Condensed !important;
}

.feature-wrapper h2 a {
	color: #005daa;
}

.lower-header {
	font-size: 30px;
	font-weight: 400;
	/* padding-top: 20px; */
    /* font-family: 'Playfair Display', serif; */
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Lora', serif; */
}
.lower-header a {
	color: black;
}
.lower-header a > i{
	color: #005daa;
	font-size: .5em;
}

.front-page-list{
	padding-left: 8px;
}

.front-page-list>li {
	border-left: 1px solid #b1b4b6;
	padding-left: 10px;
	font-size: 18px;
}

/* last one no border */
.front-page-list>li:last-child {
	border-bottom: none;
}

.front-page-list>li>a {
	color: #005daa;
	font-weight: bold;
	text-decoration: none;
}

.link-description {
	opacity: 0.75;
	font-size: 14px;
}

/* Ask-a-librarian */
#libchat_b52f2cdc0eb17645195f20b93093a46e button.libchat_online {
	visibility: hidden;
	border: none !important;
	box-shadow: none !important;
	background: none !important;
	color: #005daa !important;
	text-transform: none !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	padding: 0 !important;
}

#libchat_b52f2cdc0eb17645195f20b93093a46e button.libchat_online:after {
	content: '24/7 Chat';
	visibility: visible;
	left: 41px;
	position: absolute;
}

#libchat_b52f2cdc0eb17645195f20b93093a46e button.libchat_online:hover:after {
	color: #005daa;
	border-bottom: 3px solid rgb(0, 93, 170) !important;
	opacity: 1.0 !important;
	transition: none !important;
	line-height: initial !important;
}

#libchat_b52f2cdc0eb17645195f20b93093a46e button {
	border-radius: unset !important;
}


/* News, events, hours  */

.events-wrapper{
	background-color: #f5f5f5;
}
.hours-and-events {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row wrap;
}

.events-section>div {
	display: flex;
	flex-flow: column wrap;
	font-weight: 400;
	font-size: 16px;
	flex: 1 1 auto;
	justify-content: start;
	/* min-width: 66%; */
}

.event {
	padding-right: 10px;
	margin-right: 10px;
	/* width: 45%; */
	border-right: 1px solid #e2e2e2;
}
/* second event  */
.event:nth-child(2) {
	margin-top: 20px;
}

.event h4 {
	font-size: 18px;
	font-weight: 800;
	color: #005daa;
}

.event-date {
	font-weight: 800;
}

iframe {
	margin-bottom: 20px;
}

.event-description div {
	margin-left: 0px !important;
	padding-right: 0px;
}

.table .true td {
	background-color: #005daa;
	color: white !important;
}

.news-wrapper {
	
}

#news {
	margin-top: 30px;
	margin-bottom: 30px;
}

.news {
	padding-top: 50px;
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.news-item {
	display: flex;
	padding-bottom: 10px;
	max-width: 50%;
	flex: 1 1 auto;
	justify-content: space-around;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding: 30px;
	flex-direction: column;
	align-items: center;
}

.news-image-container {
	width: 100%;
	height: 210px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
}

.news li img {
	margin-bottom: 15px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
	padding-bottom: 20px;
}

.news>li>a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}

.news>li>h4 {
	font-size: 18px;
	font-weight: 800;
	color: #005daa;
	margin-bottom: 15px;
}

/* Collections and Videos */
.collections-wrapper{
	background-color: #f5f5f5;
}

#collections-and-videos {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.collection-image-container {
	width: 90%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collection-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
#vid{
	width: 100%;
	height: 300px;
}


@media (max-width: 1200px) {

	.bento {
		margin-bottom: 8vh;
		/* min-height: 340px; */
	}

	#main-header {
		padding-bottom: 10px;
	}

	.features {
		width: 100%;
	}
	.feature-wrapper:not(:first-child) {
		margin-left: 0px;
	}
	.hours-and-events {
		flex-flow: column wrap;
		align-items: left;
	}

	.events-section>div {
		flex-flow: column wrap;
	}
	
	.event {
		width: 100%;
	}
	.hours-section{
		margin-top: 20px;
	}

	#collections-and-videos {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
	}
	.youtube-section {
		margin-top: 20px;
	}

	.collection-image-container {
		width: 100%;
		height: 300px;
	}

	.news-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* justify-content: center; */
	}

	.news {
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
	}

	.news-item {
		padding-bottom: 10px;
		max-width: 100%;
		flex: 1 1 auto;
		justify-content: space-around;
		border-right: 1px solid #e2e2e2;
		padding-right: 30px;
		padding-left: 0px;
		flex-direction: column;
		align-items: flex-start;
	}

	.news-image-container {
		display: block;
		width: auto;
		height: auto;
	}

	.news>li>img {
		display: block;
		width: auto;
		height: auto;
	}

	.question-form-link {
		display: none;
	}
}

@media (max-width: 1000px){
	.features {
		flex-flow: column wrap;
	}
	.feature-wrapper {
		width: 100%;
	}
	.content > div{
		width: 100%;
	}
}

@media(max-width: 575px){
	.links-wrapper{
		padding-top: 50px;
	}
	.bento{
		margin-top: 50px;
	}
}

/* sidebar */
.question-form-link {
	position: absolute;
	top: 100px;
	right: 0px;
	z-index: 1000;
	background-color: #005daa;
	padding: 10px 20px;
	padding-top: 15px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	/* text-align: center; */
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
	transition: all .3s;
	max-width: 130px;
}

.question-form-link a {
	color: white;
	text-decoration: none;
}

/* Footer */

footer.footer.footer-black {
	background: #005daa;
	color: #fff;
}

.footer-content {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	justify-content: space-between;
	color: white;
	margin-top: 40px;
	font-size: 16px;
}

.footer-content>div>div {
	max-width: 100%;
	flex: 1 1 auto;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
}

.footer-content a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	font-size: 16px;
}

.copyright.pull-right {
	display: none;
}

footer {
	background-color: #005daa;
}

footer .glyphicon {
	font-size: 22px;
}

.footer-list {
	list-style: none;
}

.footer-list li {
	margin-bottom: 20px;
}

.social-media {
	display: flex;
	justify-content: center;
}

.footer-logo {
	width: 80%;
}

.statement {
	padding-top: 20px !important;
}

.twit {
	padding-right: 10px;
	position: relative;
	left: -3px;
}

.twitname {
	position: relative;
	bottom: 7px;
}

#svg-replaced-0,
.style-svg {
	/* 	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); */
	max-width: 28px;

}


a:hover {
	text-decoration: none;
}

button,
input[type="submit"],
input[type="button"],
.btn {
	text-transform: uppercase;
}

/* iframe hack */
iframe {
	overflow-y: hidden;
}
